.glow-button {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #e30501;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(124, 31, 90, 0.851),
    0 0 20px rgba(136, 2, 105, 0.884), 0 0 30px rgba(190, 5, 128, 0.663);
  transition: all 0.4s ease;
}

.glow-button:hover {
  background-color: #4809aedc;
  color: #000000;
  box-shadow: 0 0 20px rgba(69, 15, 194, 0.8), 0 0 30px rgba(243, 248, 246, 0.6),
    0 0 40px rgba(251, 255, 253, 0.4);
}

.btn-fixed {
  display: inline-block;
  width: auto;
}
